<app-top-bar (onToggleForm)="createNewNote()"></app-top-bar>

<div class="wrapper">
  <div class="search-panel">
    <input
      type="text"
      placeholder="tag name"
      id="search"
      (input)="onSearch($event)"
    />
    <label for="search">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        width="30"
        height="30"
      >
        <path
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"
        />
      </svg>
    </label>
  </div>
  <div class="container">
    
    <div class="add-note" (click)="toggleForm()" *ngIf="isFormShown">
      <form
        [formGroup]="checkoutForm"
        (ngSubmit)="onSubmit()"
        (click)="$event.stopPropagation()"
      >
        <label for="title">Title:</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          [readonly]="isShown"
        />
        <label for="message">Message:</label>
        <div class="text" >
          <div #backdrop class="backdrop"*ngIf="isUpdated || isShown">
            <div class="highlights" [innerHTML]="highlightWords(note)"></div>
          </div>
          <textarea
            #textarea
            cols="30"
            name="message"
            id="message"
            formControlName="message"
            (scroll)="handleScroll()"
            [readonly]="isShown"
          ></textarea>
        </div>

        <ul class="tags" *ngIf="checkoutForm.value.message">
          <li *ngFor="let tag of createTag(checkoutForm.value.message)">
            {{ tag
            }}<button class="little" (click)="deleteTag(tag, $event)">-</button>
          </li>
        </ul>
        <button type="submit">
          {{ isAdded ? "Add Note" : isShown ? "Close" : "Update" }}
        </button>
      </form>
    </div>

    <app-note
      *ngFor="let note of notes; index as ind"
      [note]="note"
      [ind]="ind"
      [tags]="tags"
      (delete)="deleteNote(note.id)"
      (showForm)="updateNote(note)"
      (click)="readNote(note)"
    ></app-note>
  </div>
</div>
